.page {
    background-color: #D1E1F0;
}

.page div {
	display: inline-block;
}

.content {
	height: 450px;
/*	background-color: #83D1D5;*/
	position: relative;
	padding: 5px;
	font-size: 20px;
}

.profile-image {
	height: 450px;
	position: relative;
	float: left;
	/*background-color: #cc0000;*/
	padding: 5px;
}

.content ul {
	margin: 0px;
	text-decoration: none;
}

.content ul li {
	list-style-type: none;
}

body {
	background-color: #C1D1E0;
    padding: 0px;
    margin: 0px;
}

.header {
	position: relative;
	margin-top: 10px;
	height: 40px;
}

.line {
	height: 0px;
	border: 1px solid black;
	float: bottom;
}

.footer {
	position: relative;
	float: clear;
	height: 100px;
}

.footer a {
	color: #538bbf;
	text-decoration: none;
}

.footer a:hover {
	color: black;
}


